<h4>You go enter the room and fall into a pit of water. Do you swim up or down?</h4>


<button type="button" name="win"><a href = "/win">up</a></button>
<br>

<button type="button" name="lose"><a href = "/lose">down </a></button>
