<h3>You enter the room and see a huge dog. There are two doors. </h3>

<p>Run to the door next to you to escape the dog</p>
<button type="button" name="run"><a href = "/lose">RUN!</a></button>
<br>
<p>Attempt to enter the door accross the room</p>
<button type="button" name="cross"><a href = "/cross">cross </a></button>
