<h4>You get into the kitchen. You are starving. What do ypu eat?</h4>

<p>Eat the pizza on the floor</p>
<button type="button" name="pizza"><a href = "/lose">Pizza</a></button>
<br>
<p>Tough it out and dont eat</p>
<button type="button" name="sand"><a href = "/sand">Dont eat </a></button>
