<h3>The new room has a vending machine full of chips. You notice that one is half hanging out and reachable. What do you do? </h3>

<button type="button" name="chips"><a href = "/lose">grab chips</a></button>
<button type="button" name="go"><a href = "/bottom_right">keep going </a></button>
