<h4>you get into a room filled with sadness. What do you do?</h4>

<p>Cry</p>
<button type="button" name="cry"><a href = "/lose">cry</a></button>
<br>
<p>Run away from your problems</p>
<button type="button" name="run"><a href = "/win">Run </a></button>
