<h3>You are in a new room with a door to the left and a door to the right. To the left it says beware of dog, to the right it says warning yobo alert. What do you do?</h3>

<button type="button" name="left"><a href = "/left">left</a></button>
<button type="button" name="right"><a href = "/right">right </a></button>
