<h3>You scan the new room all of a sudden an angry yobo comes at you. Do you run to the right or to the left?</h3>

<button type="button" name="left"><a href = "/lose">left</a></button>
<button type="button" name="right"><a href = "/vending_machine">right </a></button>
